
InventarioMedicamentos/.vs/InventarioMedicamentos/v14/.suo
InventarioMedicamentos/InventarioMedicamentos/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
InventarioMedicamentos/InventarioMedicamentos/obj/Debug/InventarioMedicamentos.vbproj.FileListAbsolute.txt
